# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
firebase-debug.log
firestore-debug.log
*.log*

# testing
/coverage

# next.js
/.next/
.next
/out/

# production
/build
.firebase

# misc
.DS_Store
*.pem

# debug
**/*.log*

# vercel
.vercel

# env
firestore-stripe-payments.env
firestore-stripe-payments.secret.local


**/package-lock.json

.env.development

.env.production

.env.local

/test-data/

/test-data
